/* CSS for Pat's Salmon Cookie Stand
*/


header {
  background: #fff;
  color: #f000;
  text-align: center;
  font-family: 'Lato';
  font-size: 30px;
  width: 100%;
  border-bottom: 2px solid #000000;
  font-weight: bold;
  text-transform: uppercase;
}

#page-wrap {
  width: 100%;
  margin: 0 auto;
}
